# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
env/
ENV/
.snap_env/     # your specific virtual environment

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Ignore target folder
target/
# Data / outputs
datasets/
*.edgelist
*.tab
*.plt
*.png
*.txt
snap/examples/ncpplot/log
# Compiled examples
snap/examples/*/*main
snap/examples/*/*
